.todo {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  .head-section {
    background-image: url("../images/bg-desktop-light.jpg");
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;

    .header {
      width: 541px;
      height: 48px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 40px;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: 15px;
      }
      img {
        width: 26px;
        height: 26px;
        cursor: pointer;
      }
    }
    .input {
      width: 540px;
      height: 64px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
      display: flex;
      align-items: center;
      padding: 10px 20px;
      
      button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
        border: 0.5px solid #aaa8a8;
        background-color: #ffffff;
        cursor: pointer;
      }
      input {
        border: none;
        outline: none;
        height: 40px;
        width: 100%;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
        font-weight: 400;
      }
    }
  }
  .todo-list {
    width: 540px;
    margin: auto;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    .todo-item {
      width: 540px;
      height: 64px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-bottom: 1px solid #e3e4f1;

      &:nth-child(1) {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid #ae6bf0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: #393A4B;
      }
      input[type="checkbox"]:after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f00c";
        font-size: 10px;
        color: white;
        display: none;
      }
      input[type="checkbox"]:checked {
        background-color: #ae6bf0;
      }
      input[type="checkbox"]:checked:after {
        display: block;
      }
      label {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.25px;
        font-weight: 400;
        color: #9495a5;
        cursor: pointer;
      }
      .icon {
        display: none;
      }

      &:hover {
        .icon {
          display: block;
          cursor: pointer;
          font-size: 20px;
          color: #494c6b;
        }
      }
    }
    .filter-section {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      height: 55px;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.194444px;
        color: #9495a5;
      }
      .filter {
        button {
          background-color: transparent;
          border: none;
          padding: 7px;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.2px;
          color: #9495a5;
          cursor: pointer;

          &:hover {
            color: #494c6b;
          }

          &:focus {
            color: #3a7cfd;
          }
        }
      }
      .clear {
        button {
          background-color: transparent;
          border: none;
          padding: 7px;
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.2px;
          color: #9495a5;
          cursor: pointer;

          &:hover {
            color: #494c6b;
          }
        }
      }
    }
  }
  h4 {
    margin: auto;
    margin-top: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.2px;
    color: #9495a5;
  }
}

.dark {
  height: 100vh;
  background-color: #25273d;
  .head-section {
    background-image: url("../images/bg-desktop-dark.jpg") !important;

    .input {
      background-color: #25273d !important;
      box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5) !important;

      button {
        background-color: #25273d !important;
      }
      input {
        background-color: #25273d !important;
        color: #C8CBE7 !important;
      }
    }
  }

  .todo-list {
    background: #25273d;
    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);

    .todo-item {
      background: #25273d;
      border-bottom: 1px solid #aaa8a8;

      input[type="checkbox"] {
        background: #25273d !important;
        color: #C8CBE7 !important;
      }
      input[type="checkbox"]:checked {
        background-color: #ae6bf0 !important;
      }
    }
  }
  .filter-section {
    background-color: #25273d !important;

    button {
      color: #5b5e7e !important;

      &:hover {
        color: #e3e4f1 !important;
      }
    }

    .filter {
      button {
        &:focus {
          color: #3a7cfd !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .todo {
    .head-section {
      height: 200px;
      width: 100vw;
      .header {
        width: 325px;
        height: 20px;

        h1 {
          font-size: 25px;
          letter-spacing: 10px;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
      .input {
        width: 327px;
        height: 48px;
        border-radius: 3px;
        padding: 8px 15px;

        button {
          width: 15px;
          height: 15px;
          margin-right: 6px;
        }
        input {
          height: 28px;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.16px;
        }
      }
    }
    .todo-list {
      width: 327px;
      margin-top: -16px;

      .todo-item {
        width: 327px;
        height: 48px;
        padding: 8px 15px;

        input[type="checkbox"] {
          height: 15px;
          width: 15px;
          margin-right: 6px;
        }
        label {
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.16px;
        }
        .icon {
          display: block;
        }
      }
    }

    .filter-section {
      padding: 8px 15px;
      height: 48px;
      position: relative;

      p {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.16px;
      }

      .filter {
        width: 327px;
        height: 48px;
        position: absolute;
        left: 0;
        bottom: -80px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
        border-radius: 5px;

        button {
          padding: 10px !important;
        }
      }
    }
  }
  .dark {
    .filter {
      background-color: #25273d !important;
      color: #5b5e7e !important;
      box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5) !important;
    }
  }
}
